# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.env/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media and static files
media/
staticfiles/

# Environment variables
.env
.env.*

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Other editors and IDEs
*.sublime-project
*.sublime-workspace

# Git-related files
*.orig

# Miscellaneous
*.swp
